In [2]:
import yfinance as yf
from pprint import pprint
import pandas as pd
import pandas as pd
from tqdm import tqdm
from IPython.display import clear_output
import bs4 as bs
import requests
import yfinance as yf
import datetime

In [3]:
resp = requests.get('http://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
soup = bs.BeautifulSoup(resp.text, 'lxml')
table = soup.find('table', {'class': 'wikitable sortable'})
tickers = []
for row in table.findAll('tr')[1:]:
    ticker = row.findAll('td')[0].text
    tickers.append(ticker)

tickers = [s.replace('\n', '') for s in tickers]
#start = datetime.datetime(2019,1,1)
#end = datetime.datetime(2019,7,17)
#data = yf.download(tickers, start=start, end=end)
#print(data)

In [4]:
f = pd.DataFrame(index = tickers, columns = ["socialScore","governanceScore", "environmentScore", "totalEsg", 'percentile','marketCap','dividendRate','fiftyDayAverage', 'shortRatio', 'revenueGrowth', 'debtToEquity','sector', 'industry'])

for i, ticker in tqdm(enumerate(tickers)):
    temp = yf.Ticker(ticker)
    try:
        social = temp.sustainability.loc['socialScore'][0]
        gov = temp.sustainability.loc['governanceScore'][0]
        env = temp.sustainability.loc['environmentScore'][0]
        total = temp.sustainability.loc['totalEsg'][0]
        perc = temp.sustainability.loc['percentile'][0]
        tl1 = [social, gov, env, total, perc]
        dict1 = temp.get_info()
        terms = ['marketCap','dividendRate','fiftyDayAverage', 'shortRatio', 'revenueGrowth', 'debtToEquity','sector', 'industry']
    
        tl = []
        for r in terms:
            tl.append(dict1[r])
              
        tl2 = tl1+tl
    except:
        continue
    f.iloc[i] = tl2

107it [12:20,  6.72s/it]

In [29]:
f.to_excel('data/ESG.xlsx')

,socialScore,governanceScore,environmentScore,totalEsg,percentile,marketCap,dividendRate,fiftyDayAverage,shortRatio,revenueGrowth,debtToEquity,sector,industry
MMM,"Value 13.6 Name: socialScore, dtype: object","Value 8.08 Name: governanceScore, dtype: ob...","Value 13.2 Name: environmentScore, dtype: o...","Value 34.88 Name: totalEsg, dtype: object","Value 75.51 Name: percentile, dtype: object",103240597504,5.92,193.378,5.88,0.247,131.71,Industrials,Specialty Industrial Machinery
ABT,"Value 13.54 Name: socialScore, dtype: object","Value 9.39 Name: governanceScore, dtype: ob...","Value 3.03 Name: environmentScore, dtype: o...","Value 25.96 Name: totalEsg, dtype: object","Value 44.64 Name: percentile, dtype: object",221832953856,1.8,125.322,2.54,0.395,54.368,Healthcare,Medical Devices
ABBV,"Value 16.64 Name: socialScore, dtype: object","Value 10.1 Name: governanceScore, dtype: ob...","Value 0.65 Name: environmentScore, dtype: o...","Value 27.38 Name: totalEsg, dtype: object","Value 49.74 Name: percentile, dtype: object",189353345024,5.2,114.204,2.49,0.339,652.342,Healthcare,Drug Manufacturersâ€”General
ABMD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ACN,"Value 5.37 Name: socialScore, dtype: object","Value 5.49 Name: governanceScore, dtype: ob...","Value 0.55 Name: environmentScore, dtype: o...","Value 11.41 Name: totalEsg, dtype: object","Value 3.1 Name: percentile, dtype: object",209994465280,3.52,331.5,2.83,0.207,17.331,Technology,Information Technology Services
...,...,...,...,...,...,...,...,...,...,...,...,...,...
YUM,"Value 12.9 Name: socialScore, dtype: object","Value 4.8 Name: governanceScore, dtype: object","Value 3.99 Name: environmentScore, dtype: o...","Value 21.69 Name: totalEsg, dtype: object","Value 28.47 Name: percentile, dtype: object",37192937472,2,131.86343,3.28,0.337,None,Consumer Cyclical,Restaurants
ZBRA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZBH,"Value 13.62 Name: socialScore, dtype: object","Value 9.93 Name: governanceScore, dtype: ob...","Value 4.53 Name: environmentScore, dtype: o...","Value 28.08 Name: totalEsg, dtype: object","Value 52.49 Name: percentile, dtype: object",29762889728,0.96,147.58714,1.69,0.036,63.085,Healthcare,Medical Devices
ZION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZTS,"Value 7.7 Name: socialScore, dtype: object","Value 9.19 Name: governanceScore, dtype: ob...","Value 1.38 Name: environmentScore, dtype: o...","Value 18.27 Name: totalEsg, dtype: object","Value 17.69 Name: percentile, dtype: object",95432916992,1,204.12029,2.35,0.258,168.819,Healthcare,Drug Manufacturersâ€”Specialty & Generic